
>.content-canvas{
    width:100%;
    height: 100%;
    background-color: #fff;
    overflow: auto;
    .free-parse-form{
        padding:16px;
        
        .free-form-container{
            border: 1px dotted transparent;
            display: flex;
            align-items: flex-start;
            min-height: 48px;
            min-width: 40px;
            .drag-item,.free-form-container,.empty{
                margin-top:12px;
                margin-bottom:12px;
                position: relative;
                
                .ant-form-item{
                    margin:0;
                    input{
                        transition: width 200ms;
                    }  
                }
            } 
            .drag-item{
                border:1px solid transparent;
            }
            .free-form-container{
                border: 1px dotted rgba(99,99,99,.2);
            }
           &[data-uuid="root"]{
               min-height: calc(100vh - 70px);
           }
        }
        .free-container-column{
            display:block;
        }
        .active{
            border-color: @highlight-dark!important;
        }
         
    }

    &.ended{
        .free-form-container.hover{
            border-style: solid;
            border-color:darken(@highlight-dark,0.4)
        }
        .drag-item.hover,.active{
            border:1px solid @highlight-dark;
            >.icon-drag{
                display: block;
            }
        }
    }
    &.dragging{
        user-select: none;
        .free-parse-form{
            .free-form-container.hover{
                border-style: solid;
                border-color: rgba(24, 83, 211, 0.5);
            }
        } 
        .cursor{
            background-color: @highlight-dark;
            position: absolute;
            transition: left,top,width,height 100ms;
        } 
    }
    .ant-form-inline{
        .ant-form-item-label>label{
            padding-left:20px;
        }
    }
}
